<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoeCodeur</title>
    <link rel="stylesheet" href="{%static 'facebook/css/bootstrap.css'%}">
</head>
<body>
    <!-- le header de ma page -->

    <nav class="navbar sticky-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">JoeCodeur</a>
        </div>
        
      </nav>


    {% block content %}
    
    {%endblock content %}

    <!--- le footer de ma page --->

    <footer class="bg-dark p-3 mt-5">
        <p class="text-center text-white">Tout droit reserver, developpe par J@e codeur</p>
    </footer>
    <script src="{% static 'facebook/js/jquery.js'%}"></script>
    <script src="{% static 'facebook/js/bootstrap.js'%}"></script>
    <script src="{% static 'facebook/js/popper.js'%}"></script>
</body>
</html>